#mainHeader{
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
}

h2 {
  font-size: 2.4em;
  margin-bottom: 30px;
}

#mainHeader span i{
  font-size: 32px;
  cursor: pointer;
}

.heritage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  width: 95vw;
  margin: 0 auto;
}

.item {
  width: 18vw;
  margin: 10px 0.5vw;
  transition: .5s ease;
  text-align: center;
}

.item img {
  overflow: hidden;
  width: 100%;
  border: 1px solid #ccc;
}

.item .description {
  display: flex;
  justify-content: space-between;
  padding: 1em 10px 0;
  font-size: 1.2em;
}

.item .name {
  font-weight: bold;
}

#searchDialog {
  width: 30%;
  margin: auto;
  border: 0;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0 0 1em black;
}

#searchDialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog-wrap {
  width: 100%;
}

.dialog-wrap form {
  width: 80%;
  margin: 20px auto;
  font-size: 1.2rem;
}

.dialog-wrap form label {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.dialog-wrap input[type=text] {
  width: 100%;
  height: 1.5em;
  font-size: 1.2rem;
}

#searchDialog i {
  position: fixed;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
}

#searchDialog button[type=submit] {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 5px 0;
  font-size: 1.2rem;
  background-color: aqua;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}

#searchDialog button[type=submit]:hover {
  background-color: skyblue;
}